# Copyright (C) Normal Fish Studios - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Dennis Law <normalfish.master@gmail.com>, April 2022

# Output folder
out/

# Visual studio
.vs/
